<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
<meta charset="UTF-8" />
<title>User Details</title>
</head>
<body>
	<nav th:replace="layout::navigation"></nav>
	<div class="container mt-5">
		<form th:object="${user}"
			th:action="@{/user/save/{userId}(userId=${user.userId})}"
			class="register-form"  method="post">

			<div class="form-group">
				<label for="userId">User Id : </label> <input type="text"
					readonly="readonly" th:value="${user.userId}" name="userId"
					id="userId" th:field="${user.userId}" />
			</div>
			<div class="form-group">
				<label for="firstName">First Name : </label> <input type="text"
					th:value="${user.firstName}" th:field="${user.firstName}"
					name="firstName" id="firstName" />
			</div>
			<div class="form-group">
				<label for="lastName">Last Name : </label><input type="text"
					th:value="${user.lastName}" name="lastName" id="lastName" />
			</div>
			Contact Number : <input type="text"
				th:value="${user.contactNumber}" name="contactNumber" /><br />
			Email : <input type="text" th:value="${user.email}" name="email" /><br />
			<input type="submit" value="Update" />

		</form>
	</div>
</body>
</html>