<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Contract</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
<!--   <a class="navbar-brand" href="#">Contract Management System</a> -->

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/proposals/new}">send proposal</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/status}">Status</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/SupplierRequirement}">view Requirement</a>
      </li>
       </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/uDashboard}">Dash board</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/contracts/new}">Create Contract</a>
          </li>
            <li class="nav-item">
        <a class="nav-link" th:href="@{/amenities}">Set Amenities</a>
          </li>
            <li class="nav-item">
        <a class="nav-link" th:href="@{/contracts}">List of Contracts</a>
          </li>
              <li class="nav-item">
        <a class="nav-link" th:href="@{/uDashboard}">Delivery Status</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Home</a>
  
        
        
      </li>
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> List of Contracts </h1>
		</div>
		
<!-- 		<div class = "row"> -->
<!-- 			<div class = "col-lg-3"> -->
<!-- 				<a th:href = "@{/contracts/new}" class = "btn btn-primary btn-sm mb-3"> Add Contract</a> -->
<!-- 			</div> -->
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
                    <th> Contract Id</th>				
					<th> Contract type</th>
					<th> Contract Description</th>
					<th> Contract Date </th>
					<th> supplier Name </th>
					<th> contract duration </th>
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "contract: ${contracts}">
				<td th:text = "${contract.id}"></td>
					<td th:text = "${contract.conType}"></td>
					<td th:text = "${contract.conDes}"></td>
					<td th:text = "${contract.date}"></td>
					<td th:text = "${contract.supplierName}"></td>
					<td th:text = "${contract.duration}"></td>
					<td>
						<a th:href = "@{/contracts/edit/{id}(id=${contract.id})}"
						 class = "btn btn-primary">Modify Contract</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>
